/*-- scss:defaults --*/

// Import fonts 


// Colors
$light-gggg: #eef5db;
$light-ggg: #f0f7da;
$light-gg: #e4efc4;
$light-g: #d9e8ad;
$light-green: #c9df8a;
$green: #36802d;
$l-green: #aeccab;
$ll-green: #c2d8c0;
$lll-green: #d6e5d5;
$dark-green: #25591f;
$dark-g: #646f45;
$jasmine-yellow: #F8DE7E;
$cream: #FDFBF7;


// Base document colors
$navbar-bg: $light-gggg;
$navbar-fg: $dark-green;
